<!DOCTYPE html>
<html>
<head>
  <title>Kitchen Kings Admin</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Kitchen Kings - Admin Panel</h1>
  <ul>
    <% orders.forEach(order => { %>
      <li>
        <strong><%= order.name %></strong> - ₹<%= order.total %> - <%= order.paymentMethod %> <br>
        <small><%= order.createdAt.toLocaleString() %></small>
      </li>
    <% }) %>
  </ul>
</body>
</html>